[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
requests = "*"
redis = "*"
flask-user = "==1.0.2"
flask-babelex = "*"
email-validator = "*"
flask-migrate = "*"
python-dotenv = "*"
pyairtable = "*"
celery = {extras = ["redis"], version = "*"}
gunicorn = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.8"
python_full_version = "3.8.16"
